/* src/components/AppoinmentDetails.module.css */
.detailsContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  min-width: 300px;
  max-width: 80%;
  border: 1px solid #e0e0e0; /* Borda mais clara */
}

.topBar {
  display: flex;
  justify-content: flex-end; /* Alinha o ícone à direita */
  padding: 8px; /* Reduzi um pouco o padding */
  background-color: #f8c6dc; /* Cor de fundo da topbar (rosa claro - exemplo) */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.closeIcon {
  font-size: 1.2em; /* Reduzi um pouco o tamanho do ícone */
  cursor: pointer;
  color: white; /* Ícone branco para contrastar com a cor da topbar */
  margin-left: 10px; /* Adiciona um pequeno espaço do texto (se houver) */
}

.closeIcon:hover {
  color: #eee;
}

.detailsContainer h3 {
  margin-top: 15px; /* Adiciona um pouco de espaço abaixo da topbar */
  margin-bottom: 15px;
  color: #333;
  font-size: 1.1em;
  text-align: center;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 10px;
  margin-left: 20px; /* Adiciona um pouco de margem nas laterais */
  margin-right: 20px;
}

.detailsContainer p {
  margin-bottom: 8px;
  color: #555;
  font-size: 0.9em;
  margin-left: 20px;
  margin-right: 20px;
}

.detailsContainer strong {
  font-weight: bold;
  color: #333;
  margin-right: 5px;
}

.concluido {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 0.9em;
  color: #777;
  margin-left: 20px;
  margin-right: 20px;
}

.concluido label {
  margin-right: 10px;
}

.actions {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.actions button {
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9em;
  color: black; /* Garante que a cor do texto seja preta */
  transition: background-color 0.3s ease;
  text-align: center;
}

.actions button:first-child {
  background-color: #f8c6dc; /* Cor do "Ver mais" */
}

.actions button:first-child:hover {
  filter: brightness(0.9);
}

.actions button:nth-child(2) {
  background-color: #f8c6dc; /* Cor do "Editar" */
}

.actions button:nth-child(2):hover {
  filter: brightness(0.9);
}